<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
</head>
<body>
<div style = "margin: 0 auto; max-width: 600px; min-height: 110px; display:flex; justify-content: space-around; align-items: center; flex-wrap: wrap">
    {% for i in range(0, num) %}
    <div style = "width:100px; height:100px; outline: solid 2px black; background-color: {{chosen_color}}; border-radius: 5px; margin:10px"></div>
    {% endfor %}
</div>
</body>
</html>