<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
</head>
<body>
<div style = "margin: 0 auto; width: 400px; height: 400px; display:flex; justify-content: space-around; align-items: center">
    <div style = "width:100px; height:100px; outline: solid 2px black; background-color:rgb(95, 172, 255); border-radius: 5px"></div>
    <div style = "width:100px; height:100px; outline: solid 2px black; background-color:rgb(95, 172, 255); border-radius: 5px"></div>
    <div style = "width:100px; height:100px; outline: solid 2px black; background-color:rgb(95, 172, 255); border-radius: 5px"></div>
</div>
</body>
</html>